.App {
  text-align: center;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color:#ccc;
  overflow: hidden;
}

.top-left {
  flex-basis: 50%;
  height: 50vh;
  /* background-color: aqua; */
}

.top-right {
  flex-basis: 50%;
  height: 50vh;
  text-align: right;
  /* background-color: blue; */
}

.bottom-left {
  flex-basis: 50%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  /* background-color: blueviolet; */
}

.bottom-right {
  flex-basis: 50%;
  height: 50vh;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: brown; */
}


/* .section {
  height: 50%;
  width: 50%;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
} */

/* .top-left {
  position: absolute;
  left: 0;
  top:0;
  background-color: #61dafb;
}

.top-right {
  position: absolute;
  right: 0;
  top:0;
  background-color: #ddd;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom:0;
  align-items: flex-end;
  background-color: rgb(235, 19, 19);
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom:0;
  background-color: rgb(122, 111, 111);
} */

.video {
  background-color: #ddd;
  border: solid 2px black;
  touch-action: none;
}

@media only screen and (max-width: 600px) {
  .video {
    height: 240px;
    width: 160px;
  }
}
